{% extends "base.html" %}
<!-- <form method="POST" action=".">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form> -->

{% block style %}
<style>
.container{
    margin: 50px;
}
#signup_form{
    padding-left: 200px;
    padding-right: 200px;
}
</style>
{% endblock style %}

{% block content %}
<div class="container">
    <form method="POST" action="." id="signup_form">{% csrf_token %} 
        <div class="form-group row">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            <input type="email" value="{{ form.email.value|default_if_none:'' }}" class="form-control {% if form.email.value %}{% if form.email.errors %}is-invalid{% else %}is-valid{% endif %}{% endif %}" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}">
            <div class="invalid-feedback">
                {{ form.email.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            <input type="username" value="{{ form.username.value|default_if_none:'' }}" class="form-control {% if form.username.errors %}is-invalid{% endif %}" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}">
            <div class="invalid-feedback">
                {{ form.username.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}">
            <div class="invalid-feedback">
                {{ form.password.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}</label>
            <input type="password" class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}" name="{{ form.confirm_password.html_name }}" id="{{ form.confirm_password.id_for_label }}">
            <div class="invalid-feedback">
                {{ form.confirm_password.errors }}
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>  
{% endblock content %}

{% block script %}
  
<script type="text/javascript">
    $(document).ready(function(){
        $('.form-control').change(function(){
            var form_type = $(this).attr('type')
            var form_id = $(this).attr('id')
            var url = '/check/'+ form_type + '/'
            var form_data = $(this).val()
            if (form_type != 'password'){
                $.ajax({
                    url: '/check/',
                    method: 'POST',
                    data: {'form':form_data,'csrfmiddlewaretoken': '{{ csrf_token }}', 'form_type': form_type },
                    success: function(data){
                        if (data.status == false){
                            $('#'+form_id).removeClass('is-valid').addClass('is-invalid')
                            $('#'+form_id).siblings('.invalid-feedback').html(data.msg)
                        }else if (data.status == true){
                            $('#'+form_id).removeClass('is-invalid').addClass('is-valid')
                            $('#'+form_id).siblings('.invalid-feedback').html('')
                        }else{
                            $('#'+form_id).removeClass('is-invalid').removeClass('is-valid')
                            $('#'+form_id).siblings('.invalid-feedback').html(data.msg)
                        }
                    }
                })
            }
        })
    })
</script>

{% endblock script %}

